@mixin startFlex($just: center, $dir: row, $items: center, $wrap: nowrap) {
    display: flex;
    justify-content: $just;
    flex-direction: $dir;
    align-items: $items;
    flex-wrap: $wrap;
}


html{
    background-color: #808aaa3a;
    body {
        position: fixed;
        margin:0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    button, input{
        border: 0;
        &:focus, &:hover{
            outline: 0;
        }
    }
    h3 {
        text-align: center;
        overflow: hidden;
    }
    
    li {
        list-style-type: none;
        display: flex;
    }
}

#app {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #0000008c;
    overflow: auto;
    h1{
        background-image: url('881287.jpg');
        margin: 0;
        text-align: start;
        padding: 0 1em;
        font-family: 'Poppins', sans-serif;
        color: #fff7f7;
        opacity: .5;
    }
  }


.add-note {
    padding: 5px;
    width: 15%;
    height: 10em;
    max-height: 32%;
    @include startFlex($dir: column-reverse, $just: space-around, $items: center);
    box-shadow: 0 2px 3px #00000096;
    border-radius: 15px;
    background-color: #1b9797b6;
    margin: 2em;
    .add-info {
        color:#ffffff;
        background-color: #ffffff00;
        height: 9em;
        width: 90%;
        display: flex;
        flex-direction: column;
        #nameOfTitle{
            font-size: .8em;
            border: 0;
            background-color: #ffffff00;
            border-bottom: .1em solid black;
            &:focus{
                border-bottom: .15em solid #000000a8;
            }
        }
        .info-header{
            display:flex;
            flex-direction: column;
            h3 {
                text-align: start;
            }
        }
        .info-footer {
            @include startFlex($just: flex-end);
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 1.5em;
            
        }
        .create-new-list{
            background-color: #ffffff;
            color: #522c75;
            transition: transform 0.5s linear;
            border-radius: .2em;
            p {
                font-size: 1em;
                margin: .5em;
            }
            &:hover{
                background-color:#8f65b6;
                color: #ffffff;
                transform: translate(0, -5px);
            }
        }
        
    }
    .add-note-button{
        @include startFlex($dir: column);
        #note-add{
            font-size: 9em;
            color: white;

        }
        h3 {
            margin: 0;
        }
    }
    #cancel-create-list{
        color: white;
        font-size: 1.5em;
        margin-left: auto;
        transition: transform .2s linear;
        &:hover{
           transform: rotate(90deg)
        }
    }
}

.material-icons {
    &:hover{
        cursor: pointer;
    }
}

.note-list {
    @include startFlex($wrap: wrap, $just: start);
    color: rgba(0, 0, 0, 0.705);
    align-content:stretch;
    .note-wrapper{
        padding: .7em;
        width: 15%;
        height: 10em;
        @include startFlex($dir: column, $just: space-between, $items: stretch);
        box-shadow: 0 2px 3px #00000096;
        border-radius: 1em;
        background-color: #d5d7f1;
        margin: 2em;
        .note-header {
            @include startFlex($just: space-between, $items: stretch);
            border-bottom: 0.05em solid #00000033;
            .name-of-list {
                margin: 0;
                padding: 0.3em 0.5em;
                text-overflow: ellipsis;
                overflow:hidden;
            }
            
        }
        .notes{
            @include startFlex($just: flex-start, $dir: column, $items: flex-start);
            overflow:hidden;
            height: 3.5em;   
            padding: 0; 
            .name-of-note{
                text-align: start;
                margin:0;
                text-overflow: ellipsis;
            }
        }
        .note-footer{
            display: flex;
            justify-content: flex-end;
            border-top: 0.05em solid #0000003a;
        }
        #edit, #delete-icon {
            margin: 0.1em 0.3em;
        }
    }
}

.modal-state {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #251c1ccc;
    @include startFlex();
    top: 0;
    left: 0;
    .modal-window {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 30px #000000a2;
        .modal-header {
            @include startFlex($just: space-between);
            h3 {
                margin: 10px;
            }
        }
        .modal-text p{
            margin: 0 5px;
        }
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            button{
                padding: 1em;
                background-color: #ffffff;
                margin: 1em 0;
                &:hover{
                    background-color: #7b67ec;
                    color: #ffffff;
                }  
            }
            .check-modal{
                border-radius: .2em;
                padding: 1em;
                margin-right: 1em;
                
            }
            .cancel-modal{
                border-radius: .2em;
                padding: 1em;
            }
            
        }
    }
}

.my-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    &+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label~input{
          text-decoration: line-through;
      }
      &:disabled:checked+label~span{
        text-decoration: line-through;
      }
      &:checked+label::before, &:disabled:checked+label::before  {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
      &:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
      }
      &:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
      }
      &:focus+label::before {
        box-shadow: 0 0 0 0.2rem #007bff40;
      }
      &:focus:not(:checked)+label::before {
        border-color: #80bdff;
      }
      &:disabled+label::before {
        background-color: #caabee;
      }
}

.edit-list{
    display: grid;
    height: 94.8%;
    grid-template-columns: 6em auto;
    grid-template-rows: 3em auto 5em;
    grid-template-areas: "header header"
                         "action toDoList"
                         "footer footer";
    overflow:hidden;
    max-width: 1024px;
    margin: auto;
    .my-checkbox+label{
        font-size: 2em;
    }
    .name-of-list{
        grid-area: header;
        background-color: #5cbfcc;
        display: flex;
        justify-content: space-between;
        h3{
            margin: auto;
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
        }
        .cancel-edit{
            background-color: red;
        }
        .material-icons{
            color: white;
        }
    }
    .toDO-list{
        border-right: 1px solid;
        grid-area: toDoList;
        overflow: auto;
        .toDo-point{
            width: 100%;
            margin-right: 3em;
            font-size: 1em;
            background-color: #ffffff00;
            &:focus{
                border-bottom: .1em solid #00000060;
            }
        }
    }
    .actions {
        grid-area: action;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left: 1px solid;
        button{
            overflow: hidden;
            height: 2.5em;
            &:hover{
                cursor: pointer;
                animation: morewidth 1s;
                position: relative;
                @keyframes morewidth {
                    0% {
                        height: 2.5em;  
                    }
                    100% {
                        height: 100%;
                    } 
                }
                height: 100%;
            }
        }
    }
    .bottom{
        grid-area: footer;
        background-color:#5cbfcc;
    }
    .material-icons{
          color: #000000b6;
    }
}

.slide-fade-leave-active {
    animation: bounce-in .5s reverse;
}
  
@keyframes bounce-in {
    0% {
      opacity: 0;
      margin-left: 5em;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@media screen and (max-width: 1440px){
    #app{
        margin: 0;
        .note-wrapper{
            width: 20%;
        }
    }
}

@media screen and (max-width: 1024px){
    .add-note{
        margin-left: 20px;
        padding: 5px;
        width: 4rem;
        height: 4em;
        position: fixed;
        z-index: 10;
        bottom: 3em;
        right: 3em;
        box-shadow: 0 0 10px black;
        border-radius: 50%;
        background-color: #1b9797b6;
        margin: 10px;
        .add-info{
            color:#00000094;
            background-color: #ffffff;
            border-radius: 1em;
            height: 9em;
            width: 20em;
            display: flex;
           flex-direction: column;
            box-shadow: 0 1em 3em #00000091;
            position: fixed;
            bottom: 12em;
            right: 1em;
            .info-header{
                margin: 0 20px;
                display:flex;
                flex-direction: column;
                h3 {
                    text-align: start;
                }
            }
            #nameOfTitle{
                font-size: .8em;
                height: 2em;
                margin: 0 1.5em;
                border-bottom: .1em solid black;
                &:focus{
                    border-bottom: .15em solid #000000a8;
                }
            }
        }
        .add-note-button{
            #note-add{
                font-size: 4em;
            }
        }
        #cancel-create-list{
            color: white;
            position: fixed;
            z-index: 10;
            bottom: 4.5rem;
            font-size: 3em;
            right: 4.5rem;
        }
    }    
}

@media screen and (max-width: 768px) {
  #app{
      .note-list{
          .note-wrapper{
              width: 40%;
          }
      }
  }
}
@media screen and (max-width: 425px) {
  #app{
      .note-list{
          .note-wrapper{
              width: 100%;
          }
      }
  }
}
